@model ServiceDesk.Models.Ticket

@{
    ViewData["Title"] = "Close";
}

<h1>Close</h1>

<h3>Are you sure you want to close this?</h3>
<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketProblem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketProblem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketPriority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketPriority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketStatus)
        </dd>
    </dl>
    
    <form asp-action="Close">
        <input type="hidden" asp-for="TicketId" />
        <input type="submit" value="Close" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
